<article class="post-card" id="post-{{post.ID}}">
    <header>
        <h2><a href="{{post.link}}">{{post.title}}</a></h2>
        <p>
            <span>{{__("Le %s dans ", "CustomThemeName")|format(post.date)}}<span>
            {% for category in post.categories %}
                <a href="{{category.link}}">{{category.title}}</a>
            {% endfor %}
        </p>
    </header>

    {% if post.get_thumbnail %}
         <img 
            class="post-card_thumbnail"
            width="{{post.thumbnail.width}} "
            height="{{post.thumbnail.height}} "
            src="{{post.thumbnail.src}}" 
            alt="{{post.thumbnail.alt}}" 
            srcset="{{ post.thumbnail.srcset }}"
            sizes="{{post.thumbnail.img_sizes}}"
        />
    {% endif %}

    <p>{{post.preview}}</p>

    <footer>
        {% for tag in post.tags %}
            <a href="{{tag.link}}">#{{tag.title}}</span></a>
        {% endfor %}
    </footer>
</article>